@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 998;
    }

    .nav-links li {
        opacity: 0;
        margin: 20px 0;
    }

    .hamburger {
        display: block;
        z-index: 1001;
        position: relative;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .about-grid, .contact-container {
        grid-template-columns: 1fr;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item::after {
        left: 21px;
    }

    .timeline-item:nth-child(even) {
        left: 0%;
    }
    
    .theme-title {
        font-size: 2rem;
    }
    
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
